.main {
    text-align: center;
    overflow-x: hidden;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}