.input {
    height: 3vh;
    width: 25vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 0 2rem;
}
  
@media screen and (orientation: portrait) {
.container {
    width: 100%;
    }
}   

.submit {
    background-color: #2D7D46;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.submit:disabled {
    background-color: #B1E4C2;
}

.submit:hover {
    background-color: #215B32;
}