.searchBarHolder {
    display: flex;
    align-items: center;
    position: relative;
}

.input {
    height: 3vh;
    width: 25vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 0 2rem;
}
  
@media screen and (orientation: portrait) {
.container {
    width: 100%;
    }
}   

.submit {
    background-color: #2D7D46;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.submit:disabled {
    background-color: #B1E4C2;
}

.submit:hover {
    background-color: #215B32;
}

.dropdown {
    position: absolute;
    display: inline-block;
    right: 1rem;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    margin-top: 30px;
    margin-left: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.dropdown_content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 555;
}