.table_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    margin-left: auto;
    margin-right: auto;
    padding: 0 3rem 1.875rem 3rem;
    text-align: left;
    border-collapse: collapse;
}

.th {
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

.td, .th {
    padding-right: 4vw;
}

.tr > .th:first-child {
    padding-right: 0rem;
}